.toptrans{
  height: 5rem;
  background: #E7E9E9;
  span{
    font-size: 35px
  }
}
.midpic{
  width: 10%;
  height: 50%;
  display: inline-block;
  margin-top: 1.5%;
  background-size: contain;
}
.flo-right{
  float: right;
}