.draplist{
  height: 30px;
  font-size: 13px;
  background: lightgray;
  line-height: 30px;
  margin-top: -7px;
  .drap-title{
    font-size: 12px;
  }
  svg:first-child{
    position: absolute;
    margin-top: 8px;
    margin-left: 4px;
  }
  .rig-svg{
    margin-top: 8px;
    margin-right: 4px;
    float: right;
  }
  span{
    margin-left: 32px;
  }
}
/*
.toptrans{
  height: 4rem;
  background: #E7E9E9;
  font-size: 14px;
  line-height: 4rem;
  img{
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    top: 50%;
    position: relative;
    margin-top: -10px;
  }
}
.midpic{
  width: 40px;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  i{
    height: 20px;
    width: 20px;
    display: inline-block;
    background-size: 100% 100%;
    position: relative;
    top: 50%;
    margin-top: -10px;
  }
}
.flo-right{
  float: right;
}
.flo-left{
  float: left;
}

*/
