.listitem{
  width: 100%;
  font-size: 13px;
  li{
    height: 40px;
  }
  p{
    float: right;
    width: 90VW;
    text-align: left;
    border-bottom: 1px solid #eee;
    line-height: 32px;
  }
}
.martop{
  margin-top: 20px;
}
