.icon-navlist{
  background:url("./assets/images/nav-list.png") no-repeat top center;
}
.icon-leftbtn{
  background:url("./assets/images/cry.png") no-repeat  center;
}
.icon-mymusic{
  background:url("./assets/images/atm.png") no-repeat top center;
}
.icon-moremusic{
  background:url("./assets/images/service.png") no-repeat top center;
}
.icon-public{
  background:url("./assets/images/Smile.png") no-repeat top center;
}
.icon-set{
  background:url("./assets/images/set.png") no-repeat top center;
}
.icon-iconfont-fuwushichang{
  background:url("./assets/images/iconfont-fuwushichang.png") no-repeat top center;
}
.icon-serch{
  background:url("./assets/images/serch.png") no-repeat top center;
}
.icon-background{
  background:url("./assets/images/background.png") no-repeat top center;
}
.icon-up{
  background:url("./assets/images/upopen.png") no-repeat top center;
}
.icon-down{
  background:url("./assets/images/down.png") no-repeat top center;
}
.icon-localmusic{
  background:url("./assets/images/localmusic.png") no-repeat top center;
}
.icon-remotemusic{
  background:url("./assets/images/remotemusic.png") no-repeat top center;
}
.icon-music{
  background:url("./assets/images/music.png") no-repeat top center;
}
.icon-musicplay{
  background:url("./assets/images/musicplay.png") no-repeat top center;
}
.icon-download{
  background:url("./assets/images/download.png") no-repeat top center;
}
.icon-radio{
  background:url("./assets/images/radio.png") no-repeat top center;
}
.icon-collect{
background:url("./assets/images/collect.png") no-repeat top center;
}