.groom-box{
  display: inline-block;
  h3{
    border-left: 3px solid #8CC658;
    padding-left: 12px;
    height: 14px;
    line-height: 14px;
    margin: 10px 10px;
  }
  li{
    float: left;
    width: 33.3%;
    p{
      height: 30px;
      text-align: left;
      padding: 4px;
      font-size: 12px;
    }
  }
  img{
    width: 97%;
  }
}
