* {
  margin: 0;
  padding: 0;
}

.main {
  position: absolute;
  width: 100%;
  height: 100%;
}

.topbanner {
  position: fixed;
  width: 100%;
  background-color: silver;;
  padding: 2rem 0;
  height: 3%;
  .half {
    width: 25%;
  }
  .other-half {
    width: 50%;
    dt {
      width: 33.3%;
      float: left;
    }
  }
  dd {
    text-align: center;
    line-height: 100px;
    float: left;
    list-style-type: none;
    span {
      width: 25px;
      height: 25px;
      display: inline-block;
      background-size: 100% 100%;
    }
  }
}

.leftmenu {
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
  animation: mymove 5s infinite;
  -webkit-animation: mymove 5s infinite; /*Safari and Chrome*/
}

@keyframes mymove {
  from {
    left: 0px;
  }
  to {
    left: 200px;
  }
}

@-webkit-keyframes mymove /*Safari and Chrome*/
{
  from {
    left: 0px;
  }
  to {
    left: 200px;
  }
}
.maincontent{
  overflow: scroll;
  height: 93%;
  margin-top: 66px;
}
.playbox{
  height: 4%;
}
.remote-musicbar{
  height: 5.5rem;
  padding: 0.5rem 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  ul{
    width: 100%;
    li{
      width: 33.3%;
      height: 5rem;
      text-align: center;
      box-sizing: border-box;
      float: left;
      span{
        background-size: 100% 100%;
        width: 45.28125px;
        height: 45.28125px;
        line-height: 45.28125px;
        display: inline-block;
      }
    }
  }
}
