.remoteZone-mus{
  ul{
    height: 60px;
    text-align: center;
    padding-top: 10px;
    border-bottom: 1px solid #8CC658;
    li{
      float: left;
      width: 25%;
      text-align: center;
    }
  }
}
.remoteZone-bottom{
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 12px;
  margin-top: 30px;
  border-top: 1px solid #8CC658;
}