.tabbox{
  width: 100%;
  height: 40px;
  background-color: white;
  font-size: 14px;
  li{
    display: inline-block;
    height: 40px;
    line-height: 42px;
    width: 25%;
    text-align: center;
  }
  .active{
    border-bottom: 1px solid red;
    color: red;
  }
}